.choice-section {

    margin-top: 200px;

    img {
        width: 80%;
        margin-bottom: 25px;
    }

    h1 {
        padding-top: 15px;
        font-size: 3.2em;
    }
    
    h5 {
        font-family: 'Bebas Neue', cursive;
        color: #222;
    }

    .choice-list {
        margin-top: 25px;


        li {
            font: 900 1.7rem 'Source Sans Pro', sans-serif;
            margin: 10px 0px;
        }
    }

}