.banner{
    color: rgb(16, 16, 16);
    padding-top: 100px;  
}

.banner h1 {
    font-size: 4.5rem;
}

.title-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    color: rgb(9, 56, 61);
}

.gradient {
    background: linear-gradient(to right, #208989 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.athlete-container{
    display: flex;
    justify-content: center;
}
.athlete-image {
    width: 380px;
    margin-top: 50px;
}
