@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*     font-family: 'Bebas Neue', cursive;
 */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/* font-family: 'Comfortaa', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

body {
    background-color: linear-gradient(18deg, rgb(0, 0, 0) 0%, rgb(57, 70, 68) 100%); 
    color: rgb(0, 0, 0);
}

li,a{
    font-family: 'Bebas Neue', cursive;
}

h1, h2, h4, span, h3,thead{
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
}

h2 {
    color: #222;
}

a:link{
    text-decoration: none;
}
