.training {
    margin-top: 100px;
}

/* .categories {
} */

.training h2 {
    color: rgb(66, 66, 66);
    margin: 85px 0px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


.category{
    background: linear-gradient(0deg, #40C5C6 0%, #1ABB94 100%);
    margin: 10px;
    box-shadow: 5px 5px 15px  rgba(39, 39, 39, 0.335);
    border-radius: 7px;
}


.category-icon{
    margin-top: 25px;
    height: 70px;
}

.category-title{
    margin: 50px 0px;
    text-align: center;
}

.category-info {
    padding: 0px;
}

.travel-description{
    margin-bottom: 100px;
}