.title-training {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
}

.title-training h4{
    padding-top: 10px;
    font-size: 1.2rem;
}